/* From Uiverse.io by barisdogansutcu */
/* .container {
  background-color: rgb(36, 36, 36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  -webkit-box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
  box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
  color: rgb(255, 255, 255);
}

#favorite {
  display: none;
}

#favorite:checked + .container svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  -webkit-animation: heartButton 1s;
  animation: heartButton 1s;
}

@-webkit-keyframes heartButton {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartButton {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#favorite + .container .action {
  position: relative;
  overflow: hidden;
  display: grid;
}

#favorite + .container .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#favorite + .container .action span.option-1 {
  -webkit-transform: translate(0px, 0%);
  -ms-transform: translate(0px, 0%);
  transform: translate(0px, 0%);
  opacity: 1;
}

#favorite:checked + .container .action span.option-1 {
  -webkit-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
  opacity: 0;
}

#favorite + .container .action span.option-2 {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
  opacity: 0;
}

#favorite:checked + .container .action span.option-2 {
  -webkit-transform: translate(0px, 0%);
  -ms-transform: translate(0px, 0%);
  transform: translate(0px, 0%);
  opacity: 1;
} */





#favorite {
  display: none;
}

#favorite:checked + .container svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
}

@keyframes heartButton {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

#favorite + .containerfav .action {
  position: relative;
  overflow: hidden;
  display: grid;

}

#favorite + .containerfav .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all 0.5s;
}

#favorite + .containerfav .action span.option-1 {
  transform: translate(0px, 0%);
  opacity: 1;
}

#favorite:checked + .containerfav .action span.option-1 {
  transform: translate(0px, -100%);
  opacity: 0;
}

#favorite + .containerfav .action span.option-2 {
  transform: translate(0px, 100%);
  opacity: 0;
}

#favorite:checked + .containerfav .action span.option-2 {
  transform: translate(0px, 0%);
  opacity: 1;
}
