* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}
nav {
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* overflow-y: visible; */
  /* max-height: 150px; */
  z-index: 900;
}
nav .mainPage {
  text-decoration: none;
  /* display: block; */
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  color: #f39c12;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li .req {
  text-decoration: none;
  display: block;
  color: #ecf0f1;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

.active {
  background-color: #e74c3c;
}
nav ul li a:not(.active):hover {
  background-color: #1abc9c;
}
.req {
  /* max-height: 150px; */
}
