.date {
  all: unset;
}

.popUp,
.failurepopUp {
  height: 300px;
  width: 300px;
  display: flex;
  background-color: rgb(125, 41, 41);

  border-radius: 10px;
  position: fixed;
  transform: translate(150px, -150px);
  top: 50%;
  right: 50%;
  z-index: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 50% 50%;
  transform: translate(-150px, -150px); */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(11.6px);
  backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.failurepopUp {
  background-color: rgb(22, 148, 159);
  z-index: 6;
  width: 40vh;
  height: 10vh;

  top: 23.5%;
}


.date {
  all: unset;
  height: 30%;
  width: 30%;
  display: flex;

  justify-content: center;
  position: relative;
  top: 28%;
  left: 4%;

  padding: 50px;
  border-radius: 10px;
}
.formm,
.formm1,
.formm1fail,
.formmsucc {
  display: none; /* starts out with a display of none so it can be changed to block on click */
  background-color: rgba(143, 22, 143, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2; /* will be displayed in front of background */
  /* top: 5vh; */
  top:0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.formm,
.formmsucc {
  display: flex;
}
.formm1fail,
.formmsucc {
  z-index: 3;
  background-color: rgba(22, 72, 143, 0.5);
}
.formmsucc {
  z-index: 5;
}
