/* .password-card {
  display: flex;
  flex-direction: column;
padding: 50px;

  margin: 100px;
  background-color: aliceblue;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
position: fixed;

}
.input-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-primary {
}
.input-field {
    width:70%;
    max-width: 200px;
}

.button-password{
    margin: 50px;
    width: 70%;
    max-width: 200px;
    align-self: center ;
} */


/* From Uiverse.io by zanina-yassine */ 
.password_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
  min-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}


.title-pass_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title-pass {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}


.input-pass_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-passc {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input-pass_label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
}

.input-pass_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input-pass_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.save_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #115DFC;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.save_btn:hover{
  background: green;
}

.pass-separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
}

.pass-separator .pass-line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.formm-pass{

  display: flex; /* starts out with a display of none so it can be changed to block on click */
  background-color:rgb(255 242 242 / 87%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 900; /* will be displayed in front of background */
  /* top: 5vh; */
  top:0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.popup-pass{

  height: 300px;
  width: 300px;
  display: flex;
  background-color: rgb(125, 41, 41);

  border-radius: 10px;
  position: fixed;
  transform: translate(150px, -150px);
  top: 50%;
  right: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 50% 50%;
  transform: translate(-150px, -150px); */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(11.6px);
  backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgb(22, 148, 159);
  z-index: 901;
  width: 40vh;
  height: 10vh;

  top: 23.5%;
}