.imma {
  border-radius: 50%;
  background-color: transparent;
  align-self: center;
  height: 60px;
  width: 60px;
}
.imma:hover {
  cursor: pointer;
  box-shadow: 0px 5px 4px 0px rgba(255, 0, 0, 0.095);

  background-color: whitesmoke;
  transition: background-color 1000ms ease;
}

.parent {
  display: flex;
  width: 200px;
  height: 100px;
  height: fit-content;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  /* border-radius: 30px; */
  border-bottom: 2 px solid black;
  box-shadow: 0px 5px 7px;
  /* align-self: center;
  justify-self: center;
  margin: 100px; */
  /* border-radius: 50%; */
}

.containerr {
  display: flex;
  background-color: rgb(226, 213, 213);
  flex-direction: column;

  border-bottom: 2 px solid black;
  box-shadow: 0px 5px 7px;
  /* height: 300px; */

  /* position: relative;
  top: 34%; */
}

.items,
.item2 {
  align-content: center;
  background-color: #2d3748;
  margin-bottom: 1px;
  text-align: center;
  outline-width: 0px;
  color: #f7fafc;
  text-decoration: none;
  height: 100px;
  width: 100%;
}
.item2 {
  margin-bottom: 0px;
}
.items:hover,
.item2:hover {
  transform: translateY(3px);
  cursor: pointer;
  box-shadow: 0px 5px 4px 0px cornflowerblue;

  background-color: #1abc9c;
  color :#edf2f7;
  transition: background-color 1000ms ease;
}
.bbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border-bottom: 2 px solid black;
  box-shadow: 0px 5px 7px;
  align-self: center;
  justify-self: center;

  width: 150px;
  height: 30px;
}
.bbutton:hover {
  transform: translateY(3px);
  cursor: pointer;
  box-shadow: 0px 5px 4px 0px cornflowerblue;

  background-color: rgb(91, 124, 203);
  transition: background-color 1000ms ease;
}
/* .react-popup-overlay .react-popup-content .popup-arrow {
  display: none; /* Remove the arrow */
/* path {
  display: none;
} */
div#popup-2.popup-content {
  position: sticky;
}
/* div#popup-2.popup-content {
  left: 25.2875px !important;
} */